rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow users to read and write their own submissions.
    // A query on this collection will only succeed if it includes a `where('userId', '==', request.auth.uid)` clause.
    match /submissions/{submissionId} {
      allow read, write: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
    
    // Allow reading the leaderboard
    match /leaderboard/{scoreId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
