rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /submissions/{submissionId} {
      allow create: if isOwner(request.resource.data.userId);
      allow get: if isOwner(resource.data.userId);
      // Allow users to query for their own submissions, checking the userId field.
      allow list: if isSignedIn() && request.query.get("userId") == request.auth.uid;
      allow update, delete: if false;
    }
  }
}
